.postsBlock {
    padding: 10px;
}


.posts {
    margin-top: 10px;
}

.textareaPost {
    width: 950px;
    height: 60px;
    box-shadow: 0 0 5px rgb(146, 146, 146);
    border-radius: 5px;

}

.btnAddPost {
    margin: 5px 0 0 0;
    width: 115px;
    height: 30px;
    cursor: pointer;
    transition: ease all 1s;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 5px 1px rgb(146, 146, 146);


}

.btnAddPost:hover {
    background:rgb(72, 72, 72);
    color: white;
    box-shadow: 0 0 5px rgb(146, 146, 146);
    transition: ease all .5s;
}