.header {
  display: grid;
  grid-template-areas: ' img login logout';
  grid-template-columns: 10fr 1fr 1fr;
  grid-area: header;
  background-color: rgba(238, 238, 238, 0.637);
  box-shadow: 0 0 5px rgb(146, 146, 146);
}

.logo {
  grid-area: img;
  width: 240px;

}

.loginBlock {
  grid-area: login;
  font-size: 20px;
  width: 110px;
  color: rgb(72, 72, 72);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  left:  120px;
  margin: 20px;

}

.logDeor {
  font-size: 20px;
  color: rgb(72, 72, 72);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin: 20px;
}

.logDeor:hover {
  transition: ease-out .2s;
  text-shadow: 0.5px 0.5px 1.5px rgb(0, 0, 0);
}

.loginBlock a {
  text-decoration: none;
}

