.header {
  grid-area: header;
  background-color: rgba(238, 238, 238, 0.637);
  box-shadow: 0 0 5px rgb(146, 146, 146);
}

.header img {
  width: 240px;

}

.loginBlock {
  float: right;

}

.loginBlock a {
  text-decoration: none;
}

.loginBlock .login {
  display: inline-block;
  font-size: 20px;
}

.loginBlock img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
  box-shadow: 0 0 5px 1px rgb(146, 146, 146);
}

.loginFalse{
  font-size: 20px;
  color: rgb(72, 72, 72);
  position: relative;
  bottom: 10px;
}