.descriptionBlock {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
    width: 50px;
}

.lastName {
    padding: 0px 0px 0px 10px;
    width: 200px;
    height: 25px;
    font-size: 20px;
    margin: 0;
}

.avatar img{
    width: 200px;
    height: 150px;
    border-radius: 5%;
    box-shadow: 0 0 5px rgb(146, 146, 146);
}

.status p {
    padding: 0px 0px 0px 10px;
    font-style: italic;
    width: 300px;
}

.logo img {
    width: 100%;
}