.container {
    padding: 5px 0 5px 0;
}

.item {
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px 5px rgb(221, 221, 221, 1);
    background-color: rgb(239, 239, 239);
}

.item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}