.containerAddNews {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 0;
    /* box-shadow: 0 0 5px rgb(146, 146, 146); */
}

.textarea textarea {
    width: 400px;
    height: 40px;
    box-shadow: 0 0 5px rgb(146, 146, 146);
    border-radius: 5px;
}

.btnAddNews {
    padding: 0 0 0 10px;
}

.btnAddNews button {
    width: 100px;
    height: 44px;
    cursor: pointer;
    transition: ease all 1s;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 5px 1px rgb(146, 146, 146);
    margin-bottom: 5px;
}

.btnAddNews button:hover {
    background:rgb(72, 72, 72);
    color: white;
    box-shadow: 0 0 5px rgb(146, 146, 146);
    transition: ease all .5s;
}

.addImg {
    padding: 0 0 0 10px;
}

.addImg input {
    width: 114px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 5px 1px rgb(146, 146, 146);
    margin-bottom: 5px;
}
