.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dialogs .name  {
  color: #fff;
  text-decoration: none;
}

.dialog {
    border: 1px solid rgba(149, 149, 149, 0.627);
    background-color: rgba(238, 238, 238, 0.637);

}

.shadow {
  box-shadow: 0 0 5px rgb(146, 146, 146);
}

.dialogsItems {
  padding: 0 10px 0 0;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-decoration: none;
  text-shadow: .5px .5px 2px rgb(0, 0, 0);

}

.ActiveLink {
  padding: 10px;
  color: rgb(72, 72, 72);;
  font-size: 22px;
  text-decoration: none;
}

/* .dialogsItems .active {
    background-color: rgba(68, 92, 152, 0.7);
} */

.messages {
  background-color: rgba(238, 238, 238, 0.637);
  box-shadow: 0 0 5px rgb(146, 146, 146);
  padding: 10px;
}


