.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px rgb(146, 146, 146);
  margin: 5px;
}

.dialogs .name  {
  color: #fff;
  text-decoration: none;
}

.dialog {
    border: 1px solid rgba(149, 149, 149, 0.627);
    background-color: rgba(238, 238, 238, 0.637);

}

.shadow {
  box-shadow: 0 0 5px rgb(146, 146, 146);
}

.dialogsItems {
  padding: 0 10px 0 0;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-decoration: none;
  text-shadow: .5px .5px 2px rgb(0, 0, 0);
  width: 200px;
}

.ActiveLink {
  color: rgb(72, 72, 72);;
  font-size: 20px;
  text-decoration: none;
}

/* .dialogsItems .active {
    background-color: rgba(68, 92, 152, 0.7);
} */

.messages {
  background-color: rgba(238, 238, 238, 0.637);
  box-shadow: 0 0 5px rgb(146, 146, 146);
  padding: 10px;
}

.textareaMessage {
  width: 750px;
  height: 60px;
  box-shadow: 0 0 5px rgb(146, 146, 146);
  border-radius: 5px;
  margin: 10px 0 0 0;
}

.btnSendMessage {
  margin: 5px 0 0 0;
  width: 115px;
  height: 30px;
  cursor: pointer;
  transition: ease all 1s;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 0 5px 1px rgb(146, 146, 146);
}

.btnSendMessage:hover {
  background:rgb(72, 72, 72);
  color: white;
  box-shadow: 0 0 5px rgb(146, 146, 146);
  transition: ease all .5s;
}